body {
    max-width: 60em;
    margin: 0 auto 0 auto;
    background: url("../kuvat/DOGItausta2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*object-fit: cover;*/
    background-size: 100% 100%;
    background-color: #f2f2ed;
    text-align: center;
}

/*Mobiililaitteille määritetty taustakuvan käyttäytymismääritteet*/
@media (max-width: 768px) {
    body {
        background-attachment: scroll;
        /*mahdollistaa kuvan vierityksen mobiililaitteella*/
    }

    .sticky {
        text-align: center;
        max-width: 60em;
        font-size: 1.5rem !important;
    }

    .dropdown {
        text-align: center;
        max-width: 60em;
    }

    .hassuheader {
        /*display: inline-block;*/
        flex-flow: row wrap;
        font-size: 1.5625rem;
    }

}

img {
    object-fit: cover;
    /*mahduttaa taustakuvan elementtiin*/
}

/*tästä alkaa valikon tyylittely*/

.dropbtn {
    background-color: #dde1e2
        /*#f2f2ed*/
    ;
    color: #000;
    padding: 0.625rem 0.9375rem;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.3125rem 0 #000;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #f2f2ed
        /*#a66b37*/
    ;
}

.dropdown {
    position: sticky
        /*relative*/
    ;
    display: inline-block;
    text-align: left;
    color: #000;
    padding: 0.9375rem;
    /*15px;*/
    position: sticky;
    top: 0;
    /*background-color: #fff;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dde1e2
        /*hsl(0, 0%, 95%)*/
    ;
    min-width: 6.25rem;
    overflow: auto;
    box-shadow: 0.3125rem 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.8);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.625rem 0.9375rem;
    text-decoration: none;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "MS Reference", sans-serif;
}

.dropdown a:hover {
    background-color: #fff
        /*#a66b37*/
    ;
}

.show {
    display: block;
}

/*tähän loppuu valikon tyylittely*/

/*tästä alkaa hero kuvan tyylittely*/

.herokuva {
    width: 100%;
    /*border: 0px solid #000;*/
    border: 0.125rem solid #000;
    margin: -0.1rem;
    /*font-size: 25px;*/
    /*text-align: center;*/
    /*padding: 10px;*/
    object-fit: contain;
    /*object-position: center;*/
    position: static;
    max-width: 60em;
}


/*tähän loppuu hero kuvan tyylittely*/

.hassuheader {
    display: flex;
    /* Enables Flexbox for layout */
    border: 0.1875rem solid #a66b37;
    justify-content: space-between;
    /* Aligns h1 to the left and dropdown to the right */
    align-items: center;
    /* Vertically centers items */
    position: sticky;
    /* Sticky positioning */
    top: 0;
    /* Stick to top */
    background-color: #fff;
    /* Background color */
    padding: 0.625rem 2.65rem;
    /* Padding */
    /*z-index: 1000;*/
    /* Keeps header above other content */
    box-shadow: 0 0 0.3125rem 0 #000;
    /*flex-flow: row wrap;*/
    align-items: center;
}

/*tästä alkaa otsikoiden ja elementtien tarttuvaisuuden määrittelyt*/

.sticky {
    position: sticky;
    font-size: 2.5rem;
    /*40px;*/
    /*border: 0.1875rem solid #a66b37;*/
    /*3px*/
    background-color: #fff;
    top: 0;
    margin: 0;
    /*text-align: justify;*/
    /*box-shadow: 0 0 0.3125rem 0 #000;*/
}

.otsikko {
    border: 0.125rem solid #a66b37;
    font-size: 1.5625rem;
    /*25px;*/
    display: inline-block;
    text-align: center;
    margin: 1.5rem;
    padding: 1.25rem;
    /*20px;*/
    font-family: "MS Reference", sans-serif;
    background-color: #f2f2ed;
    box-shadow: inset 0 0 0.3125rem 0 #000;
}

.otsikko2

/*galleria.html*/
    {
    /*border: 0px solid #000;*/
    border: 0.125rem solid #a66b37;
    font-size: 1.5625rem;
    /*25px;*/
    text-align: center;
    margin: auto;
    padding:
        /*1.25rem*/
        1.8rem;
    /*20px;*/
    font-family: "MS Reference", sans-serif;
    background-color: #fff;
    /*alla olevat ovat vaihtoehtoisia tyylittelyjä*/
    /*position: sticky;
    top: 0; tämä tartuttaisi otsikon sivun yläkulmaan*/
}

/*tähän loppuu otsikoiden ja elementtien tarttuvaisuuden määrittelyt*/

/*tästä alkaa gallerian tyylittely*/


/*taulukon sisäisten kuvien tyylittely*/
.table-image {
    max-width: 60em;
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    background-color: #dde1e2;
    padding:
        /*10px*/
        0.625rem;
    text-align: center;
    border: 0.3125rem solid #a66b37;
    box-shadow:
        inset 0 0 0 0.1875rem #dde1e2,
        0 0 0.3125rem 0 #000;
}

td p {
    background-color: #f2f2ed;
    border: 0.063rem solid #a66b37;
}


/*tähän loppuu gallerian tyylittely*/


/*tässä määritellään sivun kuvauksen tyylittelyt, sekä headerin tyylittelyt*/

.yleinenkuvaus {
    /*vaihtoehtoinen tyyli: background-color: #ecded5;*/
    border: 0.125rem solid #000;
    /*2px*/
    text-align: center;
    font-family: "MS Reference", sans-serif;
    /*tässä määritellään kuvauksen fontit, sekä vaihtoehtoinen fontti, jos laite ei tue ensimmäistä*/
    background-color: #dde1e2;
    font-size: 1.25rem
        /*20px;*/
}

.yleinenkuvaus2

/*index.html*/
    {
    /*vaihtoehtoinen tyyli: background-color: #ecded5;*/
    border: 0.125rem solid #a66b37;
    /*2px*/
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    font-family: "MS Reference", sans-serif;
    /*tässä määritellään kuvauksen fontit, sekä vaihtoehtoinen fontti, jos laite ei tue ensimmäistä*/
    /*background-color: #dde1e2;*/
    background-color: #f2f2ed;
    font-size: 1.563rem;
    /*1.25rem 20px;*/
    margin: 0.5rem 0rem 0rem 0rem;
    box-shadow: inset 0 0 0.3125rem 0 #000;
}

/*vaihtoehtoinen globaali paragraafin tyylittelytapa: 
    /*p {
    /*background-color: #ecded5;*/
/*border: 2px solid #a66b37;
    font-family: "MS Reference", sans-serif;
    background-color: #dde1e2;*/
/*
    }
*/

h1 {
    text-align: center;
    font-size: 2.1875rem;
    /*35px;*/
    font-family: "MS Reference", sans-serif;
}


/*tähän lopetetaan sivun kuvauksen tyylittelyt, sekä headerin tyylittelyt*/


h2 {
    background-color: #ecded5;
    border: 0.0625rem solid #000;
    /*1px*/
    text-align: center;
    /*tämä keskittää tekstin*/
    padding: 0.3125rem 0.625rem;
    /*5px 10px;*/
    font-family: "MS Reference", sans-serif;
    /*tässä määritellään kuvauksen fontit, sekä vaihtoehtoinen fontti, jos laite ei tue ensimmäistä*/
}


/*tässä määritellään footerin tyylittelyt*/

footer {
    font-size: 1.25rem;
    /*20px;*/
    text-align: center;
    position: sticky;
    bottom: 0;
    box-shadow: 0 0 0.3125rem 0 #000;
}

.footer {
    background-color: #f2f2ed;
    /*ei käytetä tätä*/
    border: 0.125rem solid #a66b37;
    /*2px*/
    font-family: "MS Reference", sans-serif;
    /*background-color: #dde1e2;*/
    margin: 0 !important;
    /*padding: 0;*/
}

.footer:visited {
    color: #000;
}


/*tähän lopetetaan footerin tyylittelyt*/


.linkit {
    background-color: #f2f2ed;
    border: 0.125rem solid #000;
    text-align: center;
    list-style-position: inside;
    /*tämä keskittää tekstin*/
    /*tämä saa ranskalaiset viivat seuraamaan tekstiä, ilman tätä määrittelyä ne pysyisivät sivun reunassa*/
    padding: 0.625rem 1.5625rem;
    /*10px 25px;*/
    margin: auto;
    /*line-height: 4rem;*/
    font-size: 1.875rem;
    /*30px;*/
    font-family: "MS Reference", sans-serif;
    display: flex
        /*inline-block*/
    ;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 0.3125rem 0 #000;
}

a.ex1:link,
a.ex1:visited {
    color: #000;
    padding: 0.875rem 1.5625rem;
    /*14px 25px;*/
    text-align: center;
    text-decoration: none;
    display:
        /*flex,*/
        inline-block;
    /*flex-flow: row wrap;*/
    align-items: center;
    justify-content: space-evenly;
}

@media (hover: hover) {

    a.ex1:hover,
    a.ex1:active {
        background-color: white;
        border: 0.0625rem solid #000;
        /*1px*/
        box-shadow: 0 0 0.3125rem 0 #000;
    }

    /*tämä tyylittely saa linkin näyttämään painikkeelta, kun hiirtä pitää linkin yllä*/
}

@media (hover: hover) {

    a.ex2:link,
    a.ex2:visited {
        background-color: #caa885;
        color: #000;
        border: 0.0625rem solid #000;
        /*1px*/
        text-align: center;
        text-decoration: none;
        display:
            /*flex,*/
            inline-block;
        /*flex-flow: row wrap;*/
        align-items: center;
        justify-content: space-evenly;
    }
}

a.ex2:hover,
a.ex2:active {
    background-color: white;
}

/*tämä tyylittely saa linkin näyttämään painikkeelta, kun hiirtä pitää linkin yllä*/